bokeh==0.12.3
Django==1.10.4
djangorestframework==3.5.3
gunicorn==19.6.0
Jinja2==2.8
MarkupSafe==0.23
numpy==1.11.3
pandas==0.19.1
Pillow==8.1.1
psycopg2==2.6.2
python-dateutil==2.6.0
pytz==2016.10
PyYAML==3.12
requests==2.12.4
scipy==1.0.1
six==1.10.0
tornado==4.4.2
xlrd==1.1.0