<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" dir="ltr" id="data-collections" lang="en">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<title>INOWAS | Data Portal - Data Collections</title>
<meta name="robots" content="index,follow">
<meta name="description" content="">
<meta name="keywords" content="">    
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Oxygen:300,400,700">
<link rel="stylesheet" type="text/css" href="flaticon/flaticon.css">
<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous">
<link rel="stylesheet" type="text/css" href="dataPortal.css">
</head>

<body>
    <header>
      <nav class="navbar-top">
          <div class="container">

              <ul class="level_1" role="menubar">
                  <li class="submenu">
                      <a href="data-collections.html">
                          <i class="flaticon-archive-1"></i>Data Collections</a>
                  </li>
                  <li class="submenu">
                      <a href="data-overview.html">
                          <i class="flaticon-database-1"></i>Data Overview</a>
                  </li>
                  <li class="submenu">
                      <a href="data-details.html">
                          <i class="flaticon-database-1"></i>Data Details</a>
                  </li>
              </ul>

              <ul class="navbar-right">
                  <li>
                      <a href="">
                          <i class="flaticon-user"></i>Log In</a>
                  </li>
              </ul>

          </div>
      </nav>
    </header>
  
  <div class="container body-content">
            
      <div class="page-header">
        <h1>Explore Data Collections</h1>
        <button type="button" class="btn btn-secondary float-right">Add Dataset</button>
        <p class="lead w-75">Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum.</p>
      </div>
  
      <div class="container">
      
          <div class="row">
          
          
          
              <div class="space-top-3">
                <h2 class="text-center text-uppercase">Filter Collections</h2>
            
                <form class="form-inline space-top-3 filters">
                
                      <label class="sr-only" for="inlineFormInput">Search Keyword</label>
                      <input type="text" class="form-control" id="inlineFormInput" placeholder="Search by keyword">
                  
                      <label class="sr-only" for="inlineFormInput">Search Date</label>
                      <input type="text" class="form-control" id="inlineFormInput" placeholder="Search by creation date">
                       
                      <label class="sr-only" for="inlineFormInput">Search Location</label>
                      <input type="text" class="form-control" id="inlineFormInput" placeholder="Search by location">
                    
                      <label class="sr-only" for="inlineFormInput">Search Owner</label>
                      <input type="text" class="form-control" id="inlineFormInput" placeholder="Search by owner">

                      <label class="sr-only" for="inlineFormInput">Search Anything</label>
                      <input type="text" class="form-control" id="inlineFormInput" placeholder="Search by anything">
                                        
                </form>
                
              </div>    
              
                                
              
              <div class="space-top-3 equal">
              
                  <div class="card w-20 dataset">
                      
                          <div class="card-img-top">
                              <a href="#">
                                  <img src="https://a.tile.openstreetmap.org/0/0/0.png" class="img-responsive">
                              </a>
                              <div class="dataset-owner"></i>Jana Ringleb</div>
                          </div>
                          <div class="card-block">
                          	<h4 class="card-title">Estimation of groundwater recharge rates in Pirna</h4>
                              <p class="card-text">Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore.</p>                                  
                          </div>
                          <div class="card-footer text-center">
                            <a href="#" class="btn btn-primary">View</a>
                          </div>
          
                  </div> <!-- End card -->
              
                  <div class="card w-20 dataset">
                      
                          <div class="card-img-top">
                              <a href="#">
                                  <img src="https://a.tile.openstreetmap.org/10/551/342.png" class="img-responsive">
                              </a>
			                       <div class="dataset-owner">Aybulat Fatkhutdinov</div>
                          </div>
                          <div class="card-block">
                          	<h4 class="card-title">Restoration of groundwater levels in Hanoi, Vietnam</h4>
                              <p class="card-text">Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore.</p>                                  
													</div>                              
                          <div class="card-footer text-center">
                            <a href="#" class="btn btn-primary">View</a>
                          </div>
                                                            
                  </div> <!-- End card -->    
                  
                  <div class="card w-20 dataset">
                      
                          <div class="card-img-top">
                              <a href="#">
                                  <img src="https://a.tile.openstreetmap.org/0/0/0.png" class="img-responsive">
                              </a>
			                       <div class="dataset-owner">Hugo Pivaral</div>
                          </div>
                          <div class="card-block">
                          	<h4 class="card-title">Managed aquifer recharge in San Jerónimo, Guatemala</h4>
                              <p class="card-text">Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore.</p>                                  
													</div>                              
                          <div class="card-footer text-center">
                            <a href="#" class="btn btn-primary">View</a>
                          </div>
          
                  </div> <!-- End card -->
              
                  <div class="card w-20 dataset">
                      
                          <div class="card-img-top">
                              <a href="#">
                                  <img src="https://a.tile.openstreetmap.org/10/551/342.png" class="img-responsive">
                              </a>
			                       <div class="dataset-owner">Jana Ringleb</div>
                          </div>
                          <div class="card-block">
                          	<h4 class="card-title">Estimation of groundwater recharge rates in Pirna</h4>
                              <p class="card-text">Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore.</p>                                  
													</div>                              
                          <div class="card-footer text-center">
                            <a href="#" class="btn btn-primary">View</a>
                          </div>
                          
                  </div> <!-- End card -->       

                  <div class="card w-20 dataset">
                      
                          <div class="card-img-top">
                              <a href="#">
                                  <img src="https://a.tile.openstreetmap.org/10/551/342.png" class="img-responsive">
                              </a>
			                       <div class="dataset-owner">Jana Ringleb</div>
                          </div>
                          <div class="card-block">
                          	<h4 class="card-title">Restoration of groundwater levels in Hanoi, Vietnam</h4>
                              <p class="card-text">Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore.</p>                                  
													</div>                              
                          <div class="card-footer text-center">
                            <a href="#" class="btn btn-primary">View</a>
                          </div>
                          
                  </div> <!-- End card -->       
                          

              </div> <!-- End "equal" -->
              
              <div class="space-top-3 equal">
              
                  <div class="card w-20 dataset">
                      
                          <div class="card-img-top">
                              <a href="#">
                                  <img src="https://a.tile.openstreetmap.org/0/0/0.png" class="img-responsive">
                              </a>
                              <div class="dataset-owner"></i>Jana Ringleb</div>
                          </div>
                          <div class="card-block">
                          	<h4 class="card-title">Estimation of groundwater recharge rates in Pirna</h4>
                              <p class="card-text">Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore.</p>                                  
                          </div>
                          <div class="card-footer text-center">
                            <a href="#" class="btn btn-primary">View</a>
                          </div>
          
                  </div> <!-- End card -->
              
                  <div class="card w-20 dataset">
                      
                          <div class="card-img-top">
                              <a href="#">
                                  <img src="https://a.tile.openstreetmap.org/10/551/342.png" class="img-responsive">
                              </a>
			                       <div class="dataset-owner">Aybulat Fatkhutdinov</div>
                          </div>
                          <div class="card-block">
                          	<h4 class="card-title">Restoration of groundwater levels in Hanoi, Vietnam</h4>
                              <p class="card-text">Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore.</p>                                  
													</div>                              
                          <div class="card-footer text-center">
                            <a href="#" class="btn btn-primary">View</a>
                          </div>
                                                            
                  </div> <!-- End card -->    
                  
                  <div class="card w-20 dataset">
                      
                          <div class="card-img-top">
                              <a href="#">
                                  <img src="https://a.tile.openstreetmap.org/0/0/0.png" class="img-responsive">
                              </a>
			                       <div class="dataset-owner">Hugo Pivaral</div>
                          </div>
                          <div class="card-block">
                          	<h4 class="card-title">Managed aquifer recharge in San Jerónimo, Guatemala</h4>
                              <p class="card-text">Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore.</p>                                  
													</div>                              
                          <div class="card-footer text-center">
                            <a href="#" class="btn btn-primary">View</a>
                          </div>
          
                  </div> <!-- End card -->
              
                  <div class="card w-20 dataset">
                      
                          <div class="card-img-top">
                              <a href="#">
                                  <img src="https://a.tile.openstreetmap.org/10/551/342.png" class="img-responsive">
                              </a>
			                       <div class="dataset-owner">Jana Ringleb</div>
                          </div>
                          <div class="card-block">
                          	<h4 class="card-title">Estimation of groundwater recharge rates in Pirna</h4>
                              <p class="card-text">Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore.</p>                                  
													</div>                              
                          <div class="card-footer text-center">
                            <a href="#" class="btn btn-primary">View</a>
                          </div>
                          
                  </div> <!-- End card -->       

                  <div class="card w-20 dataset">
                      
                          <div class="card-img-top">
                              <a href="#">
                                  <img src="https://a.tile.openstreetmap.org/10/551/342.png" class="img-responsive">
                              </a>
			                       <div class="dataset-owner">Jana Ringleb</div>
                          </div>
                          <div class="card-block">
                          	<h4 class="card-title">Restoration of groundwater levels in Hanoi, Vietnam</h4>
                              <p class="card-text">Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore.</p>                                  
													</div>                              
                          <div class="card-footer text-center">
                            <a href="#" class="btn btn-primary">View</a>
                          </div>
                          
                  </div> <!-- End card -->       
                          

              </div> <!-- End "equal" -->
              
          </div> <!-- End "row" -->
     
      </div> <!-- End "container-fluid" -->
  
  </div> <!-- End "container body-content" -->
  



<script>
		var acc = document.getElementsByClassName("accordion");
		var i;
		
		for (i = 0; i < acc.length; i++) {
				acc[i].onclick = function(){
						this.classList.toggle("active");
						this.nextElementSibling.classList.toggle("show");
			}
		}
</script>
  
</body>
</html>
