{% extends 'app/layout.html' %}

{% block content %}

<div class="row"> 
    <div class="col-6">
        <div class="card radius-0 space-top-3">
            <div class="card-block"
                <p><strong>Add new property</strong></p>
                <p>
                    <strong> Instructions for file upload: </strong>
                    An *.xlsx or *.xls file is required, where first column of the first spreadsheet is time stamps
                    and second column is values. Valid time formats are Excel's Short Date format and "YYYY-MM-DD hh:mm:ss"
                    No column headers are allowed. No empty rows are allowed.
                </p>
                {% include 'app/create_forms/form_template.html' %}
            </div>
        </div>
    </div>
</div>

{% endblock %}