<script type="text/javascript">

function deleteItem(urlPrefix) {

    var checkBoxes = document.getElementsByClassName("checkbox-input");
    var checkedItems = [];
    for (var i = 0; i < checkBoxes.length; i++) {
        if (checkBoxes[i].checked) {
            checkedItems.push(i);
        }
    }
    if(checkedItems.length == 0){
        confirm("Select an item!");
        return;
    }

    var table = document.getElementById("table");
    var tr = table.getElementsByTagName("tr");

    for (var i = 0; i < checkedItems.length; i++){
        var row = checkedItems[i] + 1;
        var td = tr[row].getElementsByTagName("td");
        var id = td[0].innerHTML;
        $.ajax({
            url: urlPrefix + id,
            type: 'DELETE',
            async: false,
            headers: {
                'X-CSRFToken': '{{ csrf_token }}',
            },   
            success: function(result) {
            }
        });
        
    location.reload();
        
    }
}

function deleteSingleProperty(propID, featureID) {

    $.ajax({
        url: '/api/properties/' + propID,
        type: 'DELETE',
        headers: {
            'X-CSRFToken': '{{ csrf_token }}',
        },
        success: function(result) {
            window.location.href = '/feature-details/' + featureID;
        }
    });
}

function deleteDataset(datasetID) {
    var confirmation = confirm("Really want to delete a Dataset?");
    if (confirmation == false){return}
    $.ajax({
        url: '/api/datasets/' + datasetID,
        type: 'DELETE',
        headers: {
            'X-CSRFToken': '{{ csrf_token }}',
        },
        success: function(result) {
            location.reload();
        }
    });
}
</script>