<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Data portal</title>
    {% load staticfiles %}
    <link rel="icon" href="{% static 'app/images/favicon.ico' %}" type="image/x-icon" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bokeh/0.12.3/bokeh-widgets.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bokeh/0.12.3/bokeh.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/datatables/1.10.13/css/dataTables.jqueryui.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/ol3/3.20.0/ol.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Oxygen:300,400,700">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="{% static 'app/flaticon/flaticon.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'app/content/dataPortal.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'app/content/ol_custom.css' %}">

</head>

<body>
    <header>
        <nav class="navbar-top">
            <div class="container">
              <ul class="level_1" role="menubar">
                  <li class="submenu">
                      <a href="{% url 'explorer' %}">
                          <i class="flaticon-archive-1"></i>Data Collections</a>
                  </li>
                  <li class="submenu">
                      <a href="{% url 'datatable' %}">
                          <i class="flaticon-database-1"></i>Data Overview</a>
                  </li>
                  <li class="submenu">
                      <a href="#">
                          <i class="flaticon-calculator-1"></i>Tools</a>
                  </li>
                  <li class="submenu">
                      <a href="https://wiki.inowas.hydro.tu-dresden.de/">
                          <i class="flaticon-info"></i>About</a>
                  </li>
              </ul>
                {% include 'app/loginpartial.html' %}
          </div>
      </nav>
    </header>

    <div class="container body-content">
        {% block content %}{% endblock %}
    </div>


    <footer class="footer">
        <div class="container">
            <div class="row">
                <div class="col col-md-2">
                    <a href="https://inowas.hydro.tu-dresden.de/#/impressum" target="_blank" class="white-link">
                        Impressum
                    </a>
                    <br>
                    <a href="https://tu-dresden.de/bu/umwelt/hydro/inowas/project/kontakt" target="_blank" class="white-link">
                        Contact
                    </a>
                </div>
                <div class="col col-md-2">
                    <p>DEVELOPED BY</p>
                    <a href="https://tu-dresden.de/bu/umwelt/hydro/inowas" target="_blank">
                        <img src="{% static 'app/images/logo-inowas.svg' %}" alt="Inowas logo"/>
                    </a>
                </div>
                <div class="col col-md-2">
                    <p>SUPPORTED BY</p>
                    <a href="https://www.bmbf.de/en/index.html" target="_blank">
                        <img src="{% static 'app/images/logo-tud.svg' %}" alt="Federal Ministry of Education and Research logo"/>
                    </a>
                </div>
                <div class="col col-md-2">
                    <p>FUNDED BY</p>
                    <a href="https://www.bmbf.de/en/index.html" target="_blank">
                        <img src="{% static 'app/images/logo-bmbf.svg' %}" alt="Federal Ministry of Education and Research logo"/>
                    </a>
                </div>
                <div class="col col-md-4">
                </div>
            </div>
        </div>
    </footer>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/bokeh/0.12.3/bokeh.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bokeh/0.12.3/bokeh-widgets.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="https://cdn.datatables.net/1.10.12/js/jquery.dataTables.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/ol3/3.20.0/ol.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js" integrity="sha384-DztdAPBWPRXSA/3eYEEUWrWCy7G5KFbe8fFjk5JAIxUYHKkDx6Qin1DkWx51bBrb" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js" integrity="sha384-vBWWzlZJ8ea9aCX4pEW3rVHjgjt7zpkNpZk+02D9phzyeVkE+jo0ieGizqPLForn" crossorigin="anonymous"></script>
    <script src="{% static 'app/scripts/respond.min.js' %}"></script>
    <script src="{% static 'app/scripts/modernizr-2.6.2.js' %}"></script>   

    {% block scripts %}{% endblock %}

</body>
</html>
